@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    background-image: url(https://github.com/suk-the-loud-kid/high-quality-fictional-violence/blob/main/assets/cover.png?raw=true);
    background-size: cover;
    border-collapse: collapse;

    margin: 2rem;
    padding: 0;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-x: hidden;

    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: normal;
}

mark {
    background-color: black;
    color: #fff;
}

a {
    background-color: black;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a :hover {
    color: yellow;
}


/*  */
.title {
    font-size: xx-large;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 700;
    font-style: italic;

    position: absolute;
    left: 60%;
    top: 30%;
}


/* about.html */
#about {
    background-image: url(https://github.com/suk-the-loud-kid/high-quality-fictional-violence/blob/main/assets/credit.png?raw=true);
    background-size: cover;
    border-collapse: collapse;
}

.about {
    font-size: x-large;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 700;
    font-style: italic;

    position: absolute;
    left: 20%;
    top: 20%;

    width: 40%;
    height: 60%;
    overflow-y: scroll;

    background-color: whitesmoke;
    padding: 1rem;
}

.influences {
    font-style: normal;
    font-weight: 300;
}



/* review.html */
.review-container {
    /* margin: 2rem; */
    max-width: 95vw;
    display: flex;
    flex-direction: row;
    text-align: left;

    font-size: x-large;
}

.review-container mark {
    font-size: xx-large;
    font-style: bold;
}

.review-kr {
    background-color: whitesmoke;

    margin-right: 1rem;
    padding: 1rem;

    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.review-en {
    background-color: whitesmoke;
    margin-left: 1rem;
    padding: 1rem;

    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: normal;
}

.review-kr p, .review-en p {
    font-size: 1rem;
    line-height: 180%;
    word-break: keep-all;
    word-wrap: break-word;
}

.review-quote {
    font-style: italic;
}



/* list.html */
.list-container {
    font-size: xx-large;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 700;
    font-style: italic;

    position: absolute;
    left: 20%;
    top: 30%;

    width: auto;
    height: 26%;
    overflow-y: auto;
}